@import "~bootstrap/scss/bootstrap.scss";

$primary-blue: #007bff;
$light-blue: lighten($primary-blue, 15);
$dark-blue: darken($primary-blue, 15);
$default-gray: #dee2e6;

.ESGFSearchPortal {
  @extend .container ;

  .tab-hidden {
    @extend .ml-auto, .active;
  }

  a.nav-item.nav-link {
    background-color: white;
    border: 1px solid $default-gray;
  }

  a.nav-item.nav-link.active {
    background-color: white;
    border: none;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .loadIcon {
    @extend .d-flex, .justify-content-center ;
    
    .spinnerIcon {
      @extend .spinner-border, .m-auto ;
      color: gray;
      
      .text {
        @extend .sr-only ;
      }
    }
  }
      .spinnerInline {
        @extend .spinner-border;
        height:1rem;
        width:1rem;
        vertical-align: middle;
        font-size: 10px;

        .text {
          @extend .sr-only;
        }
      }

  .XPF-Wrapper {
    @extend .row;
    margin: 0 auto;
    background-color: white;
    height: 500px;
    width: 100%;

    .special-facet {
      @extend .list-group-item ;
        transition: all 0.2s ease;

        &:hover {
          background-color: $default-gray;
          cursor: pointer;
        }
      }

    .dropdown-item{
      &:hover{
        background-color: $default-gray;
        color: black;
      }
    }
    
    .Properties {
      @extend .border-right, .border-left ;
    }

    .sortingArrow{
      @extend .float-right ;
      line-height: inherit;
    }

    .Properties, .SelectedProperties, .Filters {
      @extend .col-sm-4 ;
      height: 500px;

      .filter {
        @extend .list-group-item ;
        transition: all 0.2s ease;

        &:hover {
          background-color: $default-gray;
          cursor: pointer;
        }
      }

      .property, .preset {
        @extend .list-group-item, .py-2 ;
        transition: all 0.2s ease;

        .checkbox {
          padding: 5px;
          margin: 5px 5px 0 0;

          &:hover {
            cursor: pointer;
          }
        }

        .icon-info {
          @extend .float-right ;
          font-size: 1.5em;
          color: $primary-blue;
          margin-left: 10px;

          &:hover {
            color: $dark-blue;
          }
        }

        &:hover {
          background-color: $default-gray;
          cursor: pointer;
        }
      }

      .description {
        @extend .overflow-auto ;
        font-size: 12px;
        text-align: justify;
        text-justify: auto;
      }

      .time-description {
        @extend .description ;
        margin: 4px;
      }

      .infotab {

        .title {
          @extend .py-3, .overflow-auto ;
        }

        .paragraph {

          .header {
            font-size: 16px;
          }

          .text {
            font-size: 12px;
          }
        }
      }

      .selected {
        color: $primary-blue !important;
      }

      .List {
        @extend .list-group, .list-group-flush, .overflow-auto ;
        height: 375px;
        width: 100%;
        font-size: 12px;
      }

      .loadIcon {
        height: 400px;
      }
    }

    .nav-center {
      @extend .mt-2 ;

      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      border: none;
      padding: 0;
      border-bottom: 1px solid $default-gray;

      a.nav-item.nav-link {
        font-weight: bold;
        border: none;
        border-bottom: 1px solid $default-gray;
      }

      a.nav-item.nav-link.active {
        cursor: default;
        border: 1px solid $default-gray;
        border-bottom: none;
      }
    }

    .Boundary{
      @extend .input-group, .pl-0, .my-3, .input-group-sm ;

      table {
        margin-bottom: 10px;
      }

      .SelectBoundary {
        @extend .form-control-sm, .form-control, .my-0, .py-1 ;
        font-size: 12px;
        text-align: center;
      }

      .button-container {
        margin: auto;
      }

      .btn-success, .btn-danger {
        margin: 3px;
      }
    }

    .Search {
      @extend .input-group, .pl-0, .my-3, .input-group-sm ;

      .SearchBar {
        @extend .form-control-sm, .form-control, .my-0, .py-1 ;
        font-size: 12px;
      }

      .BoundaryInput {
        text-align: center;
      }

      table {
        margin-bottom: 10px;
      }

      .button-container {
        margin: auto;
      }

      .btn-success, .btn-danger {
        margin: 3px;
      }

      .SearchButton {
        @extend .input-group-append ;

        .Button {
          @extend .input-group-text, .rounded-right ;
          color: $primary-blue;

          &:hover {
            background-color: $primary-blue;
            color: white;

            cursor: pointer;
          }
        }
      }

      .optionsButton {
        @extend .input-group-append;

        .Button {
          @extend .input-group-text, .ml-2, .rounded ;
          color: $primary-blue !important;

          &:hover {
            background-color: $primary-blue !important;
            color: white !important;

            cursor: pointer !important;
          }
        }

        .optionsTabButton {
          @extend .btn, .btn-primary, .btn-block, .btn-sm ;
        }

      }
    }
  }

  .qf-wrapper, .cqf-wrapper {
    @extend .row;
    margin: 0 auto;
    background-color: white;
    height: 500px;
    width: 100%;

    .qf-root {
      position: fixed;
    }

    ol,
    li {
      margin: 0;
      padding: 0;
      list-style-type: none
    }

    ul {
      @extend .list-unstyled, .p-0;
      margin-left: 8px;
    }

    .button-open-presets {
      position: absolute;
      margin: 15px;
      font-size: 16px;
      cursor: pointer;
      color: $primary-blue;
    }

    .qf-main-container, .cqf-main-container {
      @extend .container;

      .tiles {
        @extend .w-100, .h-100, .d-flex, .justify-content-center, .flex-wrap ;

        .overlayContainer {
          height: 215px;
          position: relative;
          margin: auto 0px;

          .overlayIcon {
            font-size: 75px;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }

          .foreground {
            color: white;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 215px;
            width: 200px;
            margin: 0 10px;
            opacity: 1;
            transition: .5s ease;
          }

          &:hover .foreground {
            opacity: 1;
            background: rgba($color: #000000, $alpha: 0.4);
          }
        }


        .qf-tile {
          @extend .p-0, .shadow;

          $background-colour: #E0EBEB;

          width: 200px;
          height: 215px;
          margin: auto 10px;
          background-color: $background-colour;

          .qf-tile-header {
            @extend .w-100, .h5, .text-center;
            height: 32px;
            line-height: 32px;
            color: white;
          }

          &:hover {
            background-color: darken($color: $background-colour, $amount: 5);
          }
        }
      }
    }

    /* Sidebar & overlay */
    .overlay {
      height: 500px;
      width: 0;
      position: fixed;
      z-index: 1;
      background-color: whitesmoke;
      overflow-x: hidden;
      transition: 0.5s;
    }

    .overlay a:hover,
    .overlay a:focus {
      color: #495057;
    }

    .overlay .closebtn {
      position: absolute;
      top: 0px;
      right: 0px;
      color: #495057;
      font-size: 60px;
    }

    .overlay h2,
    .overlay p {
      color: #495057;
    }
  }

  .actionIcon {
    font-size: 100px;
    padding: 10px;
  }

  .result-wrapper {
    @extend .container ;
    background: white;
    margin-top: 10px;
    padding: 0px;

    .Collapsible {
      @extend .list-group-item ;
    }

    .result-header {
      background: $primary-blue;
      color: white;
      font-size: 20px;
      padding: 8px;
      padding-left: 18px;
      .pagination{
        float: right;
        margin: -4px;
      }
    }

    .clickable {
      color: $primary-blue;
      cursor: pointer;
    }

    .dataset {
      @extend .list-group-item ;
      transition: all 0.2s ease;

      &:hover {
        background-color: $default-gray;
        cursor: pointer;
      }
    }
  }

}


.content-tab-customizer-wrapper {
  @extend .h-100,.d-flex, .justify-content-center, .flex-wrap ;
  width: 300px;
  padding: 10px;
  background-color: white;


  .qf-tile {
    @extend .p-0, .shadow;
    $background-colour: #E0EBEB;
    width: 200px;
    height: 215px;
    margin: auto 10px;
    background-color: $background-colour;

    .qf-tile-header {
      @extend .w-100, .h5, .text-center;
      height: 32px;
      line-height: 32px;
      color: white;
    }

    &:hover {
      background-color: darken($color: $background-colour, $amount: 5);
    }
  }

  .customizer-userinput {
    margin-top: 10px;

    .qfc-input-label-100 {
      width: 100%;
      padding: 1px;
    }

    .qfc-input-label-75 {
      width: 75%;
      padding: 1px;
    }

    .qfc-input-label-25 {
      width: 25%;
      padding: 1px;
    }

    .fas .fa-trash {
      color: $primary-blue;

      &:hover {
        color: red;
      }
    }

    .button-container {
      float: right;

      .btn.btn-succes, .btn-primary {
        margin: 3px;
      }
    }
  }
}
.preview-presets{
  @extend .w-100;

  .ListPresets {
    @extend .list-group, .list-group-flush, .overflow-auto ;
    height: 255px;
    width: 100%;
    font-size: 12px;
    
    .selected {
      color: $primary-blue !important;
    }
    .property {
      @extend .list-group-item, .py-2 ;
      transition: all 0.2s ease;

      .checkbox {
        padding: 5px;
        margin: 5px 5px 0 0;

        &:hover {
          cursor: pointer;
        }
      }

      .icon-info {
        @extend .float-right ;
        font-size: 1.5em;
        color: $primary-blue;
        margin-left: 10px;

        &:hover {
          color: $dark-blue;
        }
      }

      &:hover {
        background-color: $default-gray;
        cursor: pointer;
      }
    }
  }
}

  .content-tab-preset-customizer-wrapper {
    @extend .h-100,
    .w-100,
    .d-flex,
    .justify-content-center,
    .flex-wrap;

    .customizer-userinput {
      margin-top: 10px;

      .qfc-input-label-100 {
        font-size: 12px;
        width: 100%;
        padding: 1px;
      }

      .form-control {
        font-size: 12px;
      }

      .button-container {
        float: right;

        .btn.btn-succes,
        .btn-primary {
          margin: 3px;
        }
      }
    }

  }


